.navbar {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar a:first-child {
    border-right: 1px solid rgb(255, 255, 255);
}

.navbar a:hover {
    background: linear-gradient(45deg, #FEE100, #1EFB70);
    color: #000;
}