<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }} | {{ site.title }}{% if page.layout == "docs" %} Docs{% endif %}</title>

    <link rel="stylesheet" href="{{ "/cdn/css/global.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/cdn/css/scroll.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/cdn/css/navbar.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/cdn/css/footer.css" | relative_url }}">
    <link rel="stylesheet" href="{{ "/cdn/css/forms.css" | relative_url }}">

    <script src="/cdn/js/redirectWarning.js"></script>
    <script src="/cdn/js/nav.js"></script>

    {% include metadata.html %}
</head>
<body>
    <div id="navbar" class="navbar">
        <a href="{{ "/" | relative_url }}">C1200</a>
        <a href="{{ "/projects" | relative_url }}">Projects</a>
        <a href="{{ "/contact" | relative_url }}">Contact</a>
        <a href="{{ "/docs" | relative_url }}">Docs</a>
    </div>
    <div class="mobilenav">
        <a onclick="toggleMobileNav()"></a>
    </div>

    <div class="content">{{ content }}</div>

    {% if page.layout == "ref" %}
    <img src="/cdn/img/refbg.svg" style="position: fixed; z-index: -1;" />
    {% endif %}

    <div class="footer">
        <center>
            <p>Copyright &copy; C1200</p>
            <a href="{{ site.social.youtube }}" target="_blank">YouTube</a>
            <a href="{{ site.social.twitter }}" target="_blank">Twitter</a>
            <a href="{{ site.social.discord }}" target="_blank">Discord</a>
            <a href="{{ site.social.twitch }}" target="_blank">Twitch</a>
            <a href="{{ site.social.github }}" target="_blank">GitHub</a>
            <a href="{{ site.social.email }}" target="_blank">EMail</a>
            <a href="{{ site.social.donate }}">Donate</a>
        </center>
    </div>
</body>
</html>