---
layout: base
---

<style>
    .project {
        margin: 10px 0;
    }

    .project .projecttitle {
        color: blue;
        text-decoration: underline;
    }

    .project .projectlink {
        color: green;
    }

    .project .projecttags {
        display: none;
    }
    
    .searchcontainer {
        margin-bottom: 20px;
    }
</style>

<div class="searchcontainer">
    Search:
    <input type="text" id="search">
    Sort:
    <select id="sort">
        <option value="az">Title A-Z</option>
        <option value="za">Title Z-A</option>
        <option value="ye">Year Earliest</option>
        <option value="yl">Year Latest</option>
    </select>
</div>

<div id="projects">
{% for project in site.projects %}
    {% if project.showonprojecthome != false %}
        <div class="project" data-tags="{{ project.tags | join: ' ' }}" data-year="{{ project.year }}">
            <a class="projecttitle" href="{{ project.url }}">{{ project.title }}</a><br>
            <a class="projectlink" href="{{ project.url }}">{{ project.url | prepend: site.url }}</a>
            <p class="projectdesc">{{ project.description }}</p>
        </div>
    {% endif %}
{% endfor %}
</div>

<script>
    function search(query) {
        var input = query.toUpperCase();

        var projects = document.getElementById("projects").getElementsByTagName("div");

        for (var i = 0; i < projects.length; i++) {
            var containssearch = false;
            var project = projects[i];

            var text1 = project.getElementsByClassName("projecttitle")[0];
            var text2 = project.getElementsByClassName("projectlink")[0];
            var text3 = project.getElementsByClassName("projectdesc")[0];
            var text4 = project.getAttribute("data-tags");

            text1 = text1.textContent || text1.innerText;
            text2 = text2.textContent || text2.innerText;
            text3 = text3.textContent || text3.innerText;

            if (text1.toUpperCase().indexOf(input) > -1) containssearch = true;
            if (text2.toUpperCase().indexOf(input) > -1) containssearch = true;
            if (text3.toUpperCase().indexOf(input) > -1) containssearch = true;
            if (text4.toUpperCase().indexOf(input) > -1) containssearch = true;

            if (containssearch) {
                project.style.display = "";
            } else {
                project.style.display = "none";
            }
        }
    }

    function sort(f="az") {
        var projects = [];
        var p = document.getElementById("projects").getElementsByTagName("div");

        //To Array
        for (var i = 0; i < p.length; i++) {
            projects.push(p[i]);
        }

        switch (f) {
            case "az": // Title A - Z
                projects.sort((a,b) =>
                    a.getElementsByClassName("projecttitle")[0].innerHTML.charCodeAt(0) -
                    b.getElementsByClassName("projecttitle")[0].innerHTML.charCodeAt(0)
                );
                break;
            case "za": // Title Z - A
                projects.sort((a,b) =>
                    a.getElementsByClassName("projecttitle")[0].innerHTML.charCodeAt(0) -
                    b.getElementsByClassName("projecttitle")[0].innerHTML.charCodeAt(0)
                );
                projects.reverse();
                break;
            case "ye": // Year Earliest
                projects.sort((a,b) =>
                    parseInt(a.getAttribute("data-year")) -
                    parseInt(b.getAttribute("data-year"))
                );
                break;
            case "yl": // Year Latest
                projects.sort((a,b) =>
                    parseInt(a.getAttribute("data-year")) -
                    parseInt(b.getAttribute("data-year"))
                );
                projects.reverse();
                break;
        }

        document.getElementById("projects").innerHTML = "";
        projects.forEach((project) => document.getElementById("projects").append(project));
    }

    document.getElementById("search").value = location.hash.substr(1);
    search(location.hash.substr(1));

    var params = new URLSearchParams(location.search);
    document.getElementById("sort").value = params.get("sort");
    sort(params.has("sort") ? params.get("sort") : "az");

    document.getElementById("search").oninput = () => {
        location.hash = document.getElementById("search").value;
    }

    document.getElementById("sort").onchange = () => {
        params.set("sort", document.getElementById("sort").value);
        location.search = params.toString();
    }

    window.onhashchange = () => {
        document.getElementById("search").value = location.hash.substr(1);
        search(location.hash.substr(1));
    }
</script>