---
layout: base
---

<style>
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }

    .buttons a {
        margin: 0 10px;
        color: blue;
        text-decoration: underline;
    }

    .buttons button {
        margin: 0 10px;
        background-color: lightblue;
        padding: 2px 20px;
        border: 1px solid gray;
        border-radius: 50px;
        cursor: pointer;
        transition: all .2s;
    }

    .buttons button:hover {
        box-shadow: 0px 0px 10px #888888;
    }
</style>

<div class="container">
    <p id="message">You are leaving C1200.js.org to go to: loading...</p>
    <p class="buttons">
        <a href="/">Back Home</a>
        <button onclick="acceptRedirect()">Leave</button>
    </p>
</div>